* {
    padding: 0%;
    margin: 0%
}

body {
    background-color: #000000;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #04052E;
    align-items: center;
    justify-content: center;
    gap: 12.5vw;
}

footer {
    display: flex;
    height: 75px;
    width: 100%;
    background-color: #04052E;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.footer-bar {
    gap: 30px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: fit-content;
    background-color: #04052E;
    align-items: center;
    justify-content: center;
}

.menu-bar {
    gap: 30px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: fit-content;
    background-color: #04052E;
    align-items: center;
    justify-content: center;
}

.blauwe-text-kleur {
    color: #0D00A4;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.witte-text-kleur {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.naam-doos {
    width: fit-content;
    height: auto;
}

.text-naam {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
}

.home-page-bovenste-foto {
    width: 75%;
}

.box-om-plaatje {
    display: flex;
    height: 600px;
    background-image: url(images/HomePaginaEersteFoto.webp);
    background-repeat: no-repeat;
}

.box-om-plaatje2 {
    background-position: right;
    background-image: url(images/HomePaginaTweedeFoto.webp);
    background-size: 1075px;
}

.witte-text-kleur-footer {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.blauwe-text-kleur-footer {
    color: #0D00A4;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.blok-voor-text {
    background-color: #140152;
    height: 1000px;
    width: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10vh;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.box-om-blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px;
}

.eerste-blok-tekst {
    display: flex;
    flex-direction: row;
    justify-self: end;
    width: 400px;
    height: auto;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.laatste-blok-tekst {
    display: flex;
    flex-direction: row;
    justify-self: end;
    width: 750px;
    height: auto;
    text-align: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;

}

.over-mij-plaatjes {
    width: 400px;
    height: 200px;
    display: flex;
    justify-self: flex-start;
    border-radius: 30px;

}

.over-mij-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 50px;
}


.mijn-projecten-tekst-blok {
    width: 475px;
    background-color: #0D00A4;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
    padding: 2vw;
}

.main-projecten {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projecten-eerste-tekst {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

.school-projecten-blokjes {
    height: 700px;
    width: 400px;
    background-color: #0D00A4;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.school-projecten-blokjes-niet-werkend {
    height: 600px;
    width: 400px;
    background-color: #0D00A4;
    margin-bottom: 150px;
    margin-top: 100px;
    border-radius: 30px;
    cursor: wait;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.blok-om-projecten-blokjes {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pink-goose-plaatje {
    width: 380px;
    height: 200px;
    border-radius: 30px;
    padding: 9px;
}

.mastermind-plaatje {
    width: 380px;
    height: 200px;
    border-radius: 30px;
    padding: 9px;
}

.visual-studio-code {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.browsers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.visual-studio-code-logo {
    height: 45px;
    width: 45px;
    padding: 20px;
}

.algemene-info-visual {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 20px;
}

.google-chrome {
    height: 35px;
    width: 35px;
    padding: 20px;
}

.opera-logo {
    height: 35px;
    width: 35px;
}

.figma-logo {
    height: 55px;
    width: 55px;
    padding: 25px;
}

.algemene-info-browsers {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.figma {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.algemene-info-figma {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.algemene-info-tekst {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
}

.algemene-info-eclipse {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.algemene-info-onder-eclipse {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.onderste-stuk-tekst {
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.eclipse-logo {
    height: 55px;
    width: 55px;
    padding: 20px;
}

.eclipse {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 20px;
}
.construction-sign{
    height: 250px;
    width: 250px;
}

.under-construction-tekst{
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center;
}


@media only screen and (max-width: 1100px) {
    .over-mij-plaatjes {
        height: 150px;
        width: 250px;
    }

    .eerste-blok-tekst {
        width: 250px;
        font-size: 17.5px;
    }

    .laatste-blok-tekst {
        width: 250px;
        font-size: 17.5px;
    }

    .text-naam {
        font-size: 28px;
    }

    .witte-text-kleur {
        font-size: 18px;
    }

    .blauwe-text-kleur {
        font-size: 18px;
    }

    .blok-voor-text {
        height: fit-content;
    }
}

@media only screen and (max-width: 800px){
    .school-projecten-blokjes{
        width: 300px;
    }
    .pink-goose-plaatje{
        width: 280px;
    }
    .mastermind-plaatje{
        width: 280px;
    }

    .algemene-info-visual{
        font-size: 12px;
    }
    .algemene-info-browsers{
        font-size: 12px;
    }
    .algemene-info-figma{
        font-size: 12px;
    }
    .onderste-stuk-tekst{
        font-size: 12px;
    }
    .algemene-info-eclipse{
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 700px) {
    .over-mij-container {
        flex-direction: column;
        gap: 25px;
    }
}

@media only screen and (max-width: 650px) {
    header {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 2vw;
        align-content: center;
    }

    .witte-text-kleur {
        font-size: 13px;
    }

    .blauwe-text-kleur {
        font-size: 13px;
    }

    .text-naam {
        font-size: 20px;
    }
}

@media only screen and (max-width: 412px) {
    .blauwe-text-kleur-footer {
        font-size: 13px;
        text-align: center;
    }

    .witte-text-kleur-footer {
        font-size: 13px;
    }
}